* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



nav {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-de-fundo-nav); 
    transition: background-color 0.3s;
    position: sticky;
    top: 0;
    left: 0;
    padding: .8rem 1rem;
    border-radius: 0px 0px 5px 5px;
    color: #333;
    margin-bottom: 20px;
}

.listaLinks {
    list-style: none;
    display: flex;
    gap: 1em;
}

.itensNav {
    align-self: center;
}

.itensNav a {
    color: #333;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icon-png {
    width: 2rem;
}

body {
    background-color: white;
    margin: 0 4em;
    height: 100vh;
}

main {
    margin-top: 15em;
}

.servicos {
    display: flex;
    background-color: #007BFF;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none !important;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content ul li {
    padding: 8px 16px;
}

.dropdown-content a {
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
}

.resultado-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: calc(15% - 20px);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
}

.resultado-item h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.resultado-item p {
    font-size: 0.9rem;
    color: #777;
}

.resultado-item a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out;
}

.resultado-item a:hover {
    background-color: #0056b3;
}

.resultado-item img {
    width: 500px;
    height: 350px;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 26rem;
}

.barra-de-busca {
    padding: .4rem 1.5rem .4rem .6rem;
}

.lupa {
    background-color: rgb(4, 158, 4);
    padding: .4rem 1rem;
    display: flex;
}

.lupaPesquisa {
    height: 100%;
}



.aninhado{
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.escolhido{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

/*
    Parte de freelancer / marketing
*/

.marketing{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 1em;
}

.perfil{
    display: flex;
    gap: 1em;
}

.imgAnuncio{
    width: 100%;
}



/*
    Parte de sobre
*/
.sobre{
    width: 30%;
    gap: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre *{
    width: 100%;
}

.sobre ul{
    list-style: disc;
}

.opcs ul{
    list-style: none;
    display: flex;    
}

.opcs ul li{
    padding: .3em 1em;
    border: solid 1px #ccc;
}
.infos ul{
    list-style: none;
    margin-left: 2em;
}

.infos ul li{
    margin-top: .4em;
}

.infos * {
}




/*
    Parte finais, para baixo
*/
.contato{
    width: 100%;
}




.sobre button{
    background-color:#ccc ;
    border: 0;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 5px;
    height: 2em;
    font-size: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}