* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-de-fundo-nav); 
    transition: background-color 0.3s;
    position: sticky;
    top: 0;
    left: 0;
    padding: .8rem 1rem;
    border-radius: 0px 0px 5px 5px;
    color: #333;
    margin-bottom: 20px;
}

.listaLinks {
    list-style: none;
    display: flex;
    gap: 1em;
}

.itensNav a {
    color: #333;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icon-png {
    width: 2rem;
}

body {
    background-color: white;
    margin: 0 4em;
}

main {
    margin-top: 15em;
}

.servicos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dropbtn {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content ul li {
    padding: 8px 16px;
}

.dropdown-content a {
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.aninhado{
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.escolhido{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.marketing{
    display: flex;
    flex-direction: column;[
        width: 45%;
    ]
}

.sobre {
    display: flex;
    flex-direction: column;
}

.imgAnuncio{
    width: 80%;
}



.opcs ul{
    list-style: none;
    display: flex;    
}

.opcs ul li{
    padding: .3em 1em;
    border: solid 1px #ccc;
}

.sobre{
    width: 45%;
    gap: 1em;
}

.sobre ul{
    
}

.perfil{
    display: flex;
    gap: 1em;
}