:root {
    --cor-de-fundo-nav: transparent;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

body {
    
}

header {
    background-image: url(https://img.freepik.com/fotos-gratis/retrato-de-estudante-sorridente-em-uma-cadeira-de-rodas_23-2148844659.jpg?w=740&t=st=1696128429~exp=1696129029~hmac=b340060572e36ce66d9892dd84bf8cb812f4c8400136da9afa28ede8e2aa1026);
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icon-png {
    width: 2rem;
}

.itensNav{
    display: flex;
    align-items: center;
}

.logar {
    text-decoration: none;
}

.registrar {
    text-decoration: none;
}

.titulo-logo {
    
}


#principal {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25vh 0 0 1.5rem;
}

.mensagem-principal {
    font-size: 40px;
}

.searchlabel {
    display: flex;
    flex-direction: column;
}

.searchlabel a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignsearch {
    display: flex;
    margin-top: 1rem;
}

.searchlabel #searchMain {
    padding: .8rem;
    width: 50vw;
    border: none;
    height: 100%;
}

.searchlabel .lupa {
    background-color: rgb(4, 158, 4);
    padding: .8rem 1rem;
}

nav {   
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-de-fundo-nav); 
    transition: background-color 0.3s;
    position: sticky;
    top: 0;
    left: 0;
    padding: .8rem 1rem;
    border-radius: 0px 0px 5px 5px;
}

ul{
    list-style: none;
    display: flex;
    gap: 1em;
    
}

.lupaPesquisa{
    height: 100%;
}

.servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.princp{
    min-width: 15%;
    min-height: 20%;
    background-color: red;
    border-radius: 4px;
}

.itensNav
 a:visited{
    color: white;
}